html
    head
        - const baseUrl = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/"
        block title
        block style
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        block scripts
    body
        block content